{% extends 'base.html' %}

{% block content %}
   {% for profile in profile_list %}
    <a href="{{ profile.get_absolute_url }}"><svg width="150" height="150">
        <pattern id="circle_avatar_pattern_{{ profile.id }}" width="100%" height="100%">
            <image href="{{ profile.avatar.url }}" width="100" height="100" preserveAspectRatio="xMidYMin slice"></image>
        </pattern>
        <circle cx="60" cy="60" r="50" fill="url(#circle_avatar_pattern_{{ profile.id }})"></circle>
    </svg></a>
        <h2><a href="{{ profile.get_absolute_url }}">{{ profile.user }}</a></h2>
    {% endfor %}
{% endblock %}
