{% extends 'base.html' %}

{% block content %}
    <h1>Pie Chart</h1>
 <div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script><script>
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#e23838', '#6363e2', '#ff0080', '#28e0e0', '#5c26ff'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
  </script>
{% endblock %}