{% extends 'base.html' %}

{% block content %}
        <div class="form-group col-md-2 col-lg-2">
            <form method="GET" action=".">
                <label for="type">Type</label>
                <select id="type" class="form-control" name="type">
                    <option selected>All</option>
                    {% for type in types %}
                        <option value="{{ type.slug }}">{{ type }}</option>
                    {% endfor %}
                </select>

                <label for="publishDateMin">Publish date minimum</label>
                <input type="date" class="form-control" id="publishDateMin" name="date_min">
                <label for="publishDateMax">Publish date maximum</label>
                <input type="date" class="form-control" id="publishDateMax" name="date_max">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    <hr>


    <h4>
        You spend on average per week:
        {% for obj in average %}
            {{ obj }}
        {% endfor %}$
    </h4>
    {% for obj in statistics %}
       <p>{{ obj.cost }}$, {{ obj.type }}, {{ obj.user }}, {{ obj.date }}</p>
        {{ obj.count_c }}
    {% endfor %}
    <hr>


{% endblock %}