{% extends 'base.html' %}

{% block content %}
    <form method="GET" action=".">
        <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Publish date minimum</label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
        </div>
        <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Publish date maximum</label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% for p in purchase_list %}
        <p>{{ p.cost }}$, {{ p.type }}, {{ p.user }}, {{ p.date }}</p>
    {% endfor %}

{% endblock %}