<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

{% if user.is_authenticated %}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'profile_view' %}">Профиль</a>#}
{#            </li>#}
    <a href="{% url 'type_list' %}">Types</a>
    <a href="{% url 'purchase_list' %}">Purchases</a>
    <a href="{% url 'statistics' %}">Statistics</a>
    <a href="{% url 'my_profile' %}">Profile</a>
    <a href="{% url 'profile_list' %}">Users</a>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Выйти из Аккаунта</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}" tabindex="-1" aria-disabled="true">Войти</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}" tabindex="-1" aria-disabled="true">Зарегистрироваться</a>
            </li>
        {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>